In [2]:
recgli_old = read.csv("/home/sf673542/DataWrangling/GetMergeData/July2018/researchpath_withInVivo_oldP01_updatedPERF.apr21.csv")

In [3]:
bnum_tnum = recgli_old[, c('b_number', 't_number')]

In [4]:
bnum_tnum[,'b_number']=paste('b', bnum_tnum[,'b_number'], sep="")

In [5]:
bnum_tnum[,'t_number']=paste('t', bnum_tnum[,'t_number'], sep="")

In [6]:
dim(bnum_tnum)

[1] 316   2

In [7]:
table(duplicated(bnum_tnum$t_number))

FALSE  TRUE
  129   187

In [8]:
bnum_tnum_nodup = bnum_tnum[!duplicated(bnum_tnum$t_number),]

In [9]:
dim(bnum_tnum_nodup)

[1] 129   2

In [10]:
bnum_tnum_nodup = data.frame(bnum_tnum_nodup, DUMMY = "DUMMY")

In [11]:
write.table(bnum_tnum_nodup, file = "po1_preop_recur_bnum_tnum_list.129.csv", row.names = F, quote = F, sep=",", col.names = F)

In [12]:
write.table(bnum_tnum_nodup[1:3,], file = "test_bnum_tnum_list.3.csv", row.names = F, quote = F, sep = ",", col.names = F)

In [13]:
bnum_tnum_nodup[nchar(bnum_tnum_nodup$b_number)<5,]

    b_number t_number DUMMY
24  b963     t6069    DUMMY
114 b697     t5333    DUMMY
270 b994     t6418    DUMMY
292 b197     t6243    DUMMY

In [14]:
bnums_to_fix = bnum_tnum_nodup[nchar(bnum_tnum_nodup$b_number)<5,]$b_number

In [15]:
bnums_fixed = gsub('^(.{1})(.*)$', '\\10\\2', bnums_to_fix)

In [16]:
bnums_fixed

[1] "b0963" "b0697" "b0994" "b0197"

In [17]:
bnum_tnum_nodup[nchar(bnum_tnum_nodup$b_number)<5,]$b_number = bnums_fixed

In [18]:
bnum_tnum_nodup[bnum_tnum_nodup$b_number %in% bnums_fixed,]

    b_number t_number DUMMY
24  b0963    t6069    DUMMY
114 b0697    t5333    DUMMY
270 b0994    t6418    DUMMY
292 b0197    t6243    DUMMY

In [54]:
## actually going to split this into 13 different bnum_tnum lists
## so they can be run in parallel 
## rather than taking 2 days, should only take about 4 hours

In [55]:
write.table(bnum_tnum_nodup[1:10,], file = "po1_preop_recur_bnum_tnum_list1.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[11:20,], file = "po1_preop_recur_bnum_tnum_list2.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[21:30,], file = "po1_preop_recur_bnum_tnum_list3.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[31:40,], file = "po1_preop_recur_bnum_tnum_list4.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[40:51,], file = "po1_preop_recur_bnum_tnum_list5.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[51:60,], file = "po1_preop_recur_bnum_tnum_list6.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[61:70,], file = "po1_preop_recur_bnum_tnum_list7.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[71:80,], file = "po1_preop_recur_bnum_tnum_list8.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[81:90,], file = "po1_preop_recur_bnum_tnum_list9.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[91:100,], file = "po1_preop_recur_bnum_tnum_list10.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[101:110,], file = "po1_preop_recur_bnum_tnum_list11.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[111:120,], file = "po1_preop_recur_bnum_tnum_list12.10.csv", row.names = F, quote = F, sep=",", col.names = F)
write.table(bnum_tnum_nodup[120:129,], file = "po1_preop_recur_bnum_tnum_list13.10.csv", row.names = F, quote = F, sep=",", col.names = F)

In [21]:
write.table(bnum_tnum_nodup[31:40,], file = "po1_preop_recur_bnum_tnum_list4.10.csv", row.names = F, quote = F, sep=",", col.names = F)